<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akbar Quiz App</title>
</head>
<body>
    <div class="container">

        <h1>Quiz Selection</h1>
        <div>
            <form action="" class="quiz_selection"  id="quiz_0">
                <input type="submit" value="{{ select_quiz }}">
            </form>
    
            <form action="" class="quiz_selection"  id="quiz_1">
                <input type="submit" value="{{ select_quiz }}">
            </form>
    
            <form action="" class="quiz_selection"  id="quiz_2">
                <input type="submit" value="{{ select_quiz }}">
            </form>
        </div>
        <a href="quiz.html">Quiz Page!</a>
    
    </div>
</body>
</html>